#abc {
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  width: 418px;
  display: flex;
  flex-direction: column;
}

#abc img {
  border-radius: 10px;
}

#abc button {
  margin: 5px;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: #ff2a00;
  color: white;
  cursor: pointer;
}

.App{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  background-color: lightgray;
  display: flex;
}

.header img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.option{
  display: flex;
  gap: 20px;
  margin-left: 20px;
}

#footer {
  border: 2px solid black;
  color: white;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 20px;
}