nav {
    background-color: #030425;
    display: flex;
}
nav a,nav p{
    display: block;
    color: rgb(153, 146, 146);
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
}
nav a:hover {
    color: white;
}
nav button{
    margin: auto;
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.filters {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.filters select {
    margin: auto;
    padding: 5px;
    border: #030425;
    border-radius: 5px;
}